* {
    background-color: rgba(0, 0, 0, 0);
}

span {
    display: inline-block;
    width: 150px;
    text-align: center;
}

svg {
    padding: 0 !important;
    margin: 0;
    background-color: rgba(0, 0, 0, .1);
}

/* ====== SVG ====== */
svg * {
    /*transition: all .5s;*/
}

svg text {
    cursor: default;
}

svg rect {
    stroke-width: 1px;
    stroke: black;
    fill: none;
}

svg .test rect {
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, .1);
    fill: transparent;
}

svg .test:hover rect {
    stroke-width: 1px;
    stroke: black;
    cursor: pointer;
}

svg .neuron circle {
    fill: white;
    stroke: black;
    stroke-width: 1px;
}

svg .neuron:hover circle {
    fill: red;
}

svg .neuron text {
    dominant-baseline: central;
    text-anchor: middle;
    font-size: 8px;
}

svg text.neuron-name {
    fill: rgb(128, 128, 128);
}

.gene {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 0, 0);
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height:0;
    box-sizing: content-box;
}

line {
    padding:0;
    margin:0;
}

table.here tr.line {
    margin:0;
    padding:0;
    font-size:0;
    line-height:0;
}