<content ng-controller="GeneticGameController" ng-init="init()">
    <div class="row" ng-if="display">
        <div class="col-md-6">
            <svg height="250" width="500" ng-mousemove="updateFood($event)">
                <g ng-repeat="creature in creatures | orderBy:'life':true | limitTo:50" ng-init="creatureIndex = $index">
                    <use
                        transform="translate({{ creature.x - 5 }} {{ creature.y - 5 }}) rotate({{ creature.angle }} {{ 5 }} {{ 5 }})"
                        stroke="{{ creature.life > 0 ? 'black' : 'rgb(192, 192, 192)' }}"
                        fill="{{ $index < 5 ? 'rgb(0, 255, 0)' : 'transparent' }}"
                        xlink:href="#arrow">
                    </use>

                    <text x="{{ creature.x + 5}}" y="{{ creature.y }}"
                          font-size="8"
                          fill="{{ creature.life > 0 ? 'black' : 'rgb(192, 192, 192)' }}">
                            {{ creature.life > 0 ? creature.life : 0 | round }}
                    </text>
                    <g ng-if="creature.life > 0" ng-repeat="sensor in creature.sensors track by $index">
                        <line
                            stroke="black"
                            stroke-width="1"
                            opacity="{{ sensor.alphaColor }}"
                            x1="{{ creature.x }}"
                            y1="{{ creature.y }}"
                            x2="{{ sensor.x }}"
                            y2="{{ sensor.y }}">
                        </line>
                    </g>

                </g>
                <circle r="{{ food.size }}" cx="{{ food.x }}" cy="{{ food.y }}" stroke="grey" fill="transparent" stroke-width="1px" ng-repeat="food in foods"></circle>

                <defs>
                    <polygon id="arrow" points="5,0 10,15 5,10 0,15"  stroke-width="1px" ></polygon>
                </defs>
            </svg>
        </div>
        <div class="col-md-6">
            <table class="here">
                <tr>
                    <th colspan="{{ selectedDNA.genes[0].length }}">{{ selectedDNA.name }}</th>
                </tr>
                <tr ng-repeat="line in selectedDNA.genes" class="line">
                    <td class="gene"
                        ng-repeat="block in line"
                        style="background-color: rgb({{ block.r }}, {{ block.g }}, {{ block.b }});">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Creation</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn btn-primary" ng-click="endGeneration()">End generation ({{ generation }} => {{ generation + 1 }})</div>
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="dontEnd">Don't end</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="display">display</label>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <div ng-repeat="creature in creatures | orderBy:'life':true | limitTo:30" style="color: {{ creature.name.search(bestPerGeneration[0].name) !== -1 ? 'red' : $index < 5 ? 'green' : creature.life > 0 ? 'black' : 'rgb(224, 224, 224)' }} ">
                            {{ creature.name }} : life = {{ creature.life > 0 ? creature.life : 0 }} ; score = {{ creature.score }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div ng-repeat="h in mergeHistory | orderBy:'id' | limitTo:8">
                            {{ h.id }} <-> {{ h.from }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div ng-repeat="best in bestPerGeneration | orderBy:'score':true | limitTo:8">
                            {{ best.generation }} : {{ best.name }}, life {{ best.life }} - score {{ best.score }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






</content>