<svg id="svg" ng-controller="SVGViewController" ng-init="init()" class="col-md-10 col-md-offset-1" viewBox="{{ container.viewBox.x + ' ' + container.viewBox.y + ' ' + container.viewBox.width + ' ' + container.viewBox.height  }}">
    <g>
        <!-- DEBUG -->
        <rect
            x="{{ container.viewBox.x + 1 }}"
            y="{{ container.viewBox.y + 1 }}"
            width="{{ container.viewBox.width - 2 }}"
            height="{{ container.viewBox.height - 2 }}">
        </rect>

        <!-- Connections -->
        <g
            ng-repeat="layer in neuralnet.layers"
            ng-init="layerIndex = $index;">
            <g
                ng-repeat="neuron in layer.neurons"
                ng-init="neuronIndex = $index">
                <line
                    ng-repeat="link in neuron.weights track by $index"
                    x1="{{ getNeuronCenterX(layerIndex) }}"
                    y1="{{ getNeuronCenterY(neuronIndex, layerIndex) }}"
                    x2="{{ getNeuronCenterX(layerIndex + 1) }}"
                    y2="{{ getNeuronCenterY($index, layerIndex + 1) }}"
                    stroke="{{ getColor(link) }}"
                    stroke-width="{{ link * 5 | abs }}">
                </line>
            </g>
        </g>

        <!-- Neurons & layers rect -->
        <g
            ng-repeat="layer in neuralnet.layers"
            ng-init="layerIndex = $index; yStart = 35; xStart = 50; xSpace = 200; ySpace = 90;"
            class="test">
            <rect
                x="{{ getNeuronCenterX(layerIndex) - config.neuronSize * 2 }}"
                y="{{ getNeuronCenterY(0) - config.neuronSize * 2 }}"
                width="{{ config.neuronSize * 4 }}"
                height="{{ content.neuronDistance * (neuralnet.config.maxNeurons - 1) + config.neuronSize * 4 }}">
            </rect>

            <g
                ng-repeat="neuron in layer.neurons"
                ng-init="neuronIndex = $index"
                class="neuron">
                <circle
                    r="{{ config.neuronSize }}"
                    cx="{{ getNeuronCenterX(layerIndex) }}"
                    cy="{{ getNeuronCenterY(neuronIndex, layerIndex) }}">
                </circle>
                <text
                    x="{{ getNeuronCenterX(layerIndex)}}"
                    y="{{ getNeuronCenterY(neuronIndex, layerIndex) - config.neuronSize / 2}}">
                        {{ neuron.summedValue | round }}
                </text>
                <text
                    x="{{ getNeuronCenterX(layerIndex)}}"
                    y="{{ getNeuronCenterY(neuronIndex, layerIndex) + config.neuronSize / 2}}">
                        {{ neuron.processedValue | round }}
                </text>
                <text
                    x="{{ getNeuronCenterX(layerIndex)}}"
                    y="{{ getNeuronCenterY(neuronIndex, layerIndex)}}"
                    class="neuron-name">
                        {{ neuron.name }}
                </text>
            </g>
        </g>
    </g>
</svg>