<div ng-controller="UIControlController" ng-init="init()">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Neural net actions</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn btn-primary" ng-click="step()">Step</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Creation</div>
            <div class="panel-body">
                <div class="row">
                    <div class="btn btn-primary col-md-5 col-md-offset-1" ng-click="init()">Create new neural net</div>
                    <div class="btn btn-primary col-md-4 col-md-offset-1" ng-click="addLayer()">Add layer</div>
                </div>
            </div>

            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Function</th>
                    <th>Neurons</th>
                    <th>Actions</th>
                </tr>
                <tr ng-repeat="layer in layers">
                    <td>
                        {{ $index }}
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="layer.function" />
                    </td>
                    <td>
                        <input type="number" class="form-control" ng-model="layer.neuronsCount" />
                    </td>
                    <td>
                        <div class="btn btn-danger" ng-click="removeLayer($index)">Delete</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">Layer view ({{ neuralnet.layers[4].name }})</div>
            <div class="panel-body">
                <div class="row">
                    <div class="btn btn-default col-md-1 col-md-offset-1">
                        <div class="glyphicon glyphicon-chevron-left"></div>
                    </div>
                    <div class="btn btn-default col-md-2 col-md-offset-3">
                        Save
                    </div>
                    <div class="btn btn-default col-md-1 col-md-offset-3">
                        <div class="glyphicon glyphicon-chevron-right"></div>
                    </div>
                </div>
            </div>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Function</th>
                    <th>Summed value</th>
                    <th>Processed value</th>
                    <th>Connections count</th>
                    <th>Actions</th>
                </tr>
                <tr ng-repeat="neuron in neuralnet.layers[4].neurons">
                    <td>{{ neuron.name }}</td>
                    <td>{{ neuron.activationFunction }}</td>
                    <td>{{ neuron.summedValue }}</td>
                    <td>{{ neuron.processedValue }}</td>
                    <td>{{ neuron.weights.length }}</td>
                    <td>
                        <div class="btn btn-primary">Select</div>
                        <div class="btn btn-danger">Delete</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>